<div class="container-fluid">
  <div class="row">
    <div class="col-lg-3">&nbsp;</div>
    <div class="col-sm-12 col-md-10 col-lg-6">
      <div class="add-tutor">
        <h2>Create a new Tutor</h2>
        <form>
          <input type="text" name="name" ng-model="dash.form.name" placeholder="Name" required/>
          <input type="text" name="address" ng-model="dash.form.address" placeholder="Address" required/>
          <textarea ng-model="dash.form.subjects" placeholder="Subjects (each subject separated by a comma)" required></textarea>
          <input ng-click="dash.createTutor()" type="button" value="Create"/>
        </form>
      </div>
    </div>
    <div class="col-lg-3">&nbsp;</div>
  </div>
</div>