.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto; }
  .form-signin .form-signin-heading {
    margin-bottom: 10px; }
  .form-signin input[type="password"] {
    margin-top: 10px;
    margin-bottom: 15px; }
  .form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px; }

.add-tutor {
  font-family: 'Open Sans Condensed', arial, sans;
  width: auto;
  padding: 30px;
  background: #FFFFFF;
  margin: 50px auto;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
  -moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
  -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22); }
  .add-tutor h2 {
    background: #4D4D4D;
    text-transform: uppercase;
    font-family: 'Open Sans Condensed', sans-serif;
    color: #797979;
    font-size: 18px;
    font-weight: 100;
    padding: 20px;
    margin: -30px -30px 30px -30px; }
  .add-tutor input[type="text"], .add-tutor textarea {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    display: block;
    width: 100%;
    padding: 7px;
    border: none;
    border-bottom: 1px solid #ddd;
    background: transparent;
    margin-bottom: 10px;
    font: 16px Arial, Helvetica, sans-serif;
    height: 45px; }
  .add-tutor textarea {
    resize: none;
    overflow: hidden; }
  .add-tutor input[type="button"], .add-tutor input[type="submit"] {
    -moz-box-shadow: inset 0px 1px 0px 0px #45D6D6;
    -webkit-box-shadow: inset 0px 1px 0px 0px #45D6D6;
    box-shadow: inset 0px 1px 0px 0px #45D6D6;
    background-color: #2CBBBB;
    border: 1px solid #27A0A0;
    display: inline-block;
    cursor: pointer;
    color: #FFFFFF;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 14px;
    padding: 8px 18px;
    text-decoration: none;
    text-transform: uppercase; }
    .add-tutor input[type="button"]:hover, .add-tutor input[type="submit"]:hover {
      background: linear-gradient(to bottom, #34CACA 5%, #30C9C9 100%);
      background-color: #34CACA; }

.table-fill {
  background: white;
  border-radius: 3px;
  border-collapse: collapse;
  height: 320px;
  margin: auto;
  max-width: 600px;
  padding: 5px;
  width: 100%;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  animation: float 5s infinite; }
  .table-fill th {
    color: #D5DDE5;
    background: #1b1e24;
    border-bottom: 4px solid #9ea7af;
    border-right: 1px solid #343a45;
    font-size: 23px;
    font-weight: 100;
    padding: 24px;
    text-align: left;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    vertical-align: middle; }
    .table-fill th:first-child {
      border-top-left-radius: 3px; }
    .table-fill th:last-child {
      border-top-right-radius: 3px;
      border-right: none; }
    .table-fill th.text-left {
      text-align: left; }
    .table-fill th.text-center {
      text-align: center; }
    .table-fill th.text-right {
      text-align: right; }
  .table-fill tr {
    border-top: 1px solid #C1C3D1;
    border-bottom-: 1px solid #C1C3D1;
    color: #666B85;
    font-size: 16px;
    font-weight: normal;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.1); }
    .table-fill tr:first-child {
      border-top: none; }
    .table-fill tr:last-child {
      border-bottom: none; }
    .table-fill tr:nth-child(odd):hover td {
      background: #4E5066; }
    .table-fill tr:last-child td:first-child {
      border-bottom-left-radius: 3px; }
    .table-fill tr:last-child td:last-child {
      border-bottom-right-radius: 3px; }
    .table-fill tr:hover td {
      background: #4E5066;
      color: #FFFFFF;
      border-top: 1px solid #22262e;
      border-bottom: 1px solid #22262e; }
  .table-fill td {
    background: #FFFFFF;
    padding: 20px;
    text-align: left;
    vertical-align: middle;
    font-weight: 300;
    font-size: 18px;
    text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
    border-right: 1px solid #C1C3D1; }
    .table-fill td:last-child {
      border-right: 0px; }
    .table-fill td.text-left {
      text-align: left; }
    .table-fill td.text-center {
      text-align: center; }
    .table-fill td.text-right {
      text-align: right; }
